    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        /* Sticky footer styles */
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }
        .container .text-muted {
            margin: 20px 0;
        }
        .formHeight {
            height: 300px;
            border: unset;
        }
        .tweetsList {
            height: 600px;
            width: unset;
        }
        .inputstyle {
            margin-bottom: 20px; 
            width: 100%;
        }
        .mybtn {
            padding: 3px 12px;
        }
    </style>

<body>
<div id="twitterCard"></div>
<div class="jumbotron" ws-template="twitterdemo" style="background-color: blue"><h1>${Result}</h1></div>
    <script ws-replace="scripts"></script>
</body>
</html>
